[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alexv1n
[access "refs/for/refs/*"]
	read = group user/alexv1n
	push = group user/alexv1n
	label-Code-Review = -2..+2 group user/alexv1n
	label-Verified = -1..+1 group user/alexv1n
	rebase = group user/alexv1n
	removeReviewer = group user/alexv1n
	submit = group user/alexv1n
[access "refs/heads/*"]
	read = group user/alexv1n
	create = group user/alexv1n
	push = +force group user/alexv1n
	pushMerge = group user/alexv1n
[access "refs/tags/*"]
	push = group user/alexv1n
	push = +force group user/alexv1n
